*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.formum{
  margin-top: 10px;
  display: flex;
  justify-content: center;

}
body{
  background: #FC354C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ownbtn{
  border-radius: 0px !important;
  background-color: black;
  color: white;
  border: 0px;
  padding:6px 14px;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 0.35s;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ownbtn:hover{
  background-color:#0ABFBC ;
}

.top img{
  width: 100%;
  border-radius: 50%;
}
.followSection{
  display: flex;
  justify-content: space-between;
}

.followSection p{
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user{
  border: 2px solid white;
  background: #5C258D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.users{
  display: flex;
}

.forDelete{
  display: flex;
  justify-content: center;
}
.bio{
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.forDelete button{
  background-color: #FC354C;
  color: white;
  border: 0px;
  padding:7px 9px;
}
.name{
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
}